// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-blue: #0a66c2;
$second-blue: #2977c9;
$lightest-blue: rgba(112,181,249,0.15);
$light-grey: rgba(0,0,0,0.6);
$dark-grey: rgba(0,0,0,0.9);
$lightest-grey: rgba(0,0,0,0.08);
$sans-serif: helvetica, arial, sans-serif;
$dark-blue: #004182;



