 $main-blue: #0a66c1;
 $second-blue: #2977c8;
 $dark-blue: #004181;
 $grey-blue: #788fa6;
 $lightest-blue: rgba(111,181,249,0.15);
 $light-grey: rgba(0,0,0,0.6);
 $dark-grey: rgba(0,0,0,0.9);
 $lighter-grey: rgba(0,0,0,0.1);
 $lightest-grey: rgba(0,0,0,0.08);
 $warm-gray-20: #f3f3ef;
 $error-red: #d11123;
