 $main-blue: #0a66c2;
 $second-blue: #2977c9;
 $dark-blue: #004182;
 $lightest-blue: rgba(112,181,249,0.15);
 $light-grey: rgba(0,0,0,0.6);
 $dark-grey: rgba(0,0,0,0.9);
 $lightest-grey: rgba(0,0,0,0.08);
 $warm-gray-20: #f3f2ef;
 $error-red: #d11124;
