.modal-box.contact-info-modal-box {
  width: 400px;

  h5 {
    font-size: 18px;
    font-weight: normal;
    margin: 0px;
    padding: 10px;
  }

  ul {
    margin-bottom: 10px; 

    li {
      padding: 10px;
      display: flex;

      i {
        font-size: 20px;
      }

      img {
        height: 20px;
        width: 20px;
      }

      div {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        p {
          padding-bottom: 5px;

          &:first-child {
            font-weight: bold;
          }

          &:last-child {
            color: $main-blue;
          }
        }
      }
    }

  }

}