.new-post-modal-box {
  width: 500px;
  height: 300px;

  img {
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
  }

  div {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: $dark-grey;
  }

  textarea {
    margin: 10px;
    resize: none;
    padding: 5px;
    font-family: $sans-serif;
    font-size: 16px;
    border: none;
    width: 80%;

    &:focus {
      outline: none;
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;

    button, p {
      padding: 10px;
      justify-self: right;
      width: 60px;
      height: 30px;
      border-radius: 24px;
      justify-self: right;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    p {
      background-color: $lighter-grey;
      color: $light-grey;
    }

    button {
      background-color: $main-blue;
      color: white;

      &:hover {
        background-color: $dark-blue;
      }
    }
  }
}