li.post-item li.comment-item {
  display: flex;
  align-items: start;
  margin: 5px;
  margin-bottom: 10px;

  img {
    height: 40px;
    width: 40px;
    margin: 0;
    margin-right: 5px;
  }

  div.comment {
    background-color: $lighter-grey;
    border-radius: 4px;
    width: 90%;
    padding: 5px;

    .commenter-name {
      font-weight: bold;
      font-size: 12px;

      &:hover {
        cursor: pointer;
        color: $main-blue;
        text-decoration: underline;
      }
    }

    .commenter-breed {
      color: $light-grey;
      font-size: 12px;
      margin-bottom: 5px;
    }
  }

  div {
    font-size: 14px;
  }
}