.feed-page {
  background-color: $warm-gray-20;
  position: fixed;
  top: 63px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: scroll;

  .feed-main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 15px;
    padding: 20px;
    width: 100%;
    margin-top: 40px;

    .user-sidebar {
      background-color: white;
      border-radius: 5px;
      border: 1px solid $lighter-grey;
      width: 100%;
      margin-right: 20px;
      display: grid;
      height: 200px;

      .background {
        display: flex;
        flex-direction: column;
        grid-column: 1;
        grid-row: 1;
        height: 100%;

        div:first-child {
          height: 50px;
          background-color: $grey-blue;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }

      div:last-child {
        padding-top: 10px;
        grid-column: 1;
        grid-row: 1;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-photo {
          height: 80px;
          width: 80px;
          margin-bottom: 10px;
  
          img {
            object-fit: cover;
            border-radius: 50%;
            border: 1px solid white;
          }
        }

        a:nth-child(2) {
          font-size: 16px;
          font-weight: 600;
          margin-top: 10px;

          &:hover {
            text-decoration: underline;
          }          
        }

        p:last-of-type {
          color: $light-grey;
          font-size: 14px;
          margin: 5px;
          margin-bottom: 10px;
        }

        div {
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          border-top: 1px solid $lighter-grey;

          a {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: $light-grey;
            font-size: 14px;
            padding-top: 5px;
            padding-bottom: 5px;
  
            p{
              padding-left: 10px;
              padding-right: 10px;

              &:last-child {
                color: $main-blue;
                margin: 0;
              }
            }
              

            &:hover {
              background-color: $lighter-grey;
            }
          }
        }
      }

    }

    .new-post {
      background-color: white;
      border-radius: 5px;
      border: 1px solid $lighter-grey;
      height: 100px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      img {
        object-fit: cover;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin: 10px;
      }

      button {
        color: $light-grey;
        border: 1px solid $lighter-grey;
        border-radius: 24px;
        width: 80%;
        height: 50px;
        padding: 10px;
        font-weight: 600;
        font-size: 14px;

        &:hover {
          background-color: $lighter-grey;
        }
      }
    }
  }
}