li.post-item {
  list-style: none;
  background-color: white;
  border-radius: 5px;
  border: 1px solid $lighter-grey;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  position: relative;

  > p {
    padding: 10px;
  }

  header {
    display: flex;
    align-items: center;

    img {
      object-fit: cover;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      margin: 10px;
      margin-right: 10px;
    }

    a:hover {
        color: $main-blue;
        cursor: pointer;
        text-decoration: underline;
      }

    h2 {
      font-weight: 600;
    }

    p {
      color: $light-grey;
    }

    #edit-post-dropdown-parent {
      display: flex;
      align-items: center;
      font-family: 'Trebuchet MS';
      font-size: 20px;
      font-weight: bold;
      transform: rotate(180deg);
      position: absolute;
      right: 10px;
      top: 10px;
      border-radius: 50%;
      padding: 5px;
      padding-top: 0;
      padding-bottom: 10px;
      line-height: 15px;

      &:hover {
        background-color: $lighter-grey;
        cursor: pointer;
      }
    }

    #edit-post-dropdown {
      position: absolute; 
      right: 10px;
      top: 35px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid $lighter-grey;
      z-index: 1;
      width: 150px;
      height: 90px;
      padding-top: 18px;

      li {
        display: flex;
        padding: 5px;
        padding-left: 10px;

        &:hover {
          cursor: pointer;
          background-color: $lighter-grey;
        }

        p {
          margin-left: 10px;
        }
      }

    }

  }


  > div {
    width: 80%;
    margin-left: 10px;
    padding-bottom: 20px;
  }

  div.reactions {
    border-top: 1px solid $lighter-grey; 
    width: 100%;
    padding: 0;
    margin: 0;

    button {
      display: flex;
      color: $light-grey;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;

      p {
        margin-left: 5px;
      }

      &:hover {
        background-color: $lighter-grey;
      }
    }
  }
}