li.post-item {
  list-style: none;
  background-color: white;
  border-radius: 5px;
  border: 1px solid $lighter-grey;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  position: relative;

  img {
    object-fit: cover;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    margin-right: 10px;
  }

  > p {
    padding: 10px;
  }

  header {
    display: flex;
    align-items: center;


    a:hover {
        color: $main-blue;
        cursor: pointer;
        text-decoration: underline;
      }

    h2 {
      font-weight: 600;
    }

    p {
      color: $light-grey;
    }

    #edit-post-dropdown-parent {
      display: flex;
      align-items: center;
      font-family: 'Trebuchet MS';
      font-size: 20px;
      font-weight: bold;
      transform: rotate(180deg);
      position: absolute;
      right: 10px;
      top: 10px;
      border-radius: 50%;
      padding: 5px;
      padding-top: 0;
      padding-bottom: 10px;
      line-height: 15px;

      &:hover {
        background-color: $lighter-grey;
        cursor: pointer;
      }
    }

    #edit-post-dropdown {
      position: absolute; 
      right: 10px;
      top: 35px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid $lighter-grey;
      z-index: 1;
      width: 150px;
      height: 90px;
      padding-top: 18px;

      li {
        display: flex;
        padding: 5px;
        padding-left: 10px;

        &:hover {
          cursor: pointer;
          background-color: $lighter-grey;
        }

        p {
          margin-left: 10px;
        }
      }

    }

  }


  div.body {
    padding: 0 10px;
    padding-bottom: 10px;
    margin: 0;
  }

  div.reactions-and-comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $light-grey;

    > p {
      margin-right: 5px; 
    }

    div.reactions-count {
      display: flex;
      align-items: center;
      padding-left: 10px;
      margin-right: 5px;

      i {
        font-size: 12px;
        border-radius: 50%; 
        padding: 2px;
        margin: 2px;

        &:first-child {
          background-color: $main-blue;
          color: rgb(130, 168, 230);
        }

        &:nth-child(2) {
          background-color: purple;
          color: rgb(221, 151, 221);
        }

        &:last-of-type {
          background-color: green;
          color: rgb(171, 235, 171);
          margin-right: 5px;
        }
      }
    }
  }

  div.reactions {
    border-top: 1px solid $lighter-grey; 
    width: 100%;
    padding: 0;
    margin: 0;

    .react-button {
      display: inline-block;
      color: $light-grey;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;
      position: relative;

      p {
        margin-left: 5px;
      }

      &:hover {
        background-color: $lighter-grey;
        cursor: pointer;
      }

      .reacted-dog, .reacted-paw, .reacted-bone, .unreacted {
        display: flex;
      }

      .reacted-dog {
        color: $main-blue;
      }

      .reacted-paw {
        color: purple;
      }

      .reacted-bone {
        color: green;
      }
    }

    .select-reactions {
      display: none;
      position: absolute;
      justify-content: space-between;
      background-color: white;
      border-radius: 24px;
      border: 1px solid $lighter-grey;
      bottom: 28px;
      left: -5px;
      padding: 5px;
      z-index: 1;
      height: 38px;
      width: 150px;

      .reaction {
        display: flex;
        flex-direction: column-reverse;
        margin: 5px;
        margin-right: 10px;
        margin-left: 10px;
        
        &:first-child {
          i {
            color: $main-blue;
            position: relative;
          }

          p {
            bottom: 40px;
            left: 5px;
          }
          
        }

        &:nth-child(2) {
          i {
            color: purple;
            position: relative;
          }

          p {
            bottom: 40px;
            left: 30px;
          }
        }

        &:last-child {
          i {
            color: green;
          }
          
          p {
            width: 115px;
            bottom: 40px;
            left: 55px;
          }
        
        }

        p {
          display: none;
          position: absolute;
          color: white;
          background-color: black;
          border-radius: 24px;
          padding: 2px 8px;
        }

        i:hover {
          zoom: 1.75;
        }

        i:hover + p {
          display: block;
        }

      }

    }

    .react-button:hover .select-reactions {
      display: flex;
    }
  }

  div.new-comment {
    display: flex;
    align-items: center; 
    justify-content: space-between;

    img {
      height: 40px;
      width: 40px;
    }

    form {
      width: 90%; 
      display: flex;
      flex-direction: column;
    }

    label {
      width: 100%;
    }

    input {
      border-radius: 24px;
      border: 1px solid $lighter-grey;
      width: 90%;
      padding: 10px;
      font-size: 16px;

      &:focus {
        outline: none;
        border: 1px solid $light-grey;
      }
    }
  }
}