.profile-page {
  background-color: $warm-gray-20;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  .profile {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 40px;
    
    section {
      background-color: white;
      border-radius: 5px;
      width: 700px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid $lighter-grey;
      grid-column: 1;

      i {
        border-radius: 50%;
        padding: 7px;
        
        &:hover {
          cursor: pointer;
          background-color: $lighter-grey;
        }
      }
    
      &.intro {
        height: 300px;
        display: grid;
    
        .background {
          display: flex;
          flex-direction: column;
          grid-column: 1;
          grid-row: 1;
          height: 100%;
    
          div:first-child {
            height: 175px;
            background-color: $grey-blue;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            display: flex;
            justify-content: flex-end;

            i {
              margin-right: 10px;
              margin-top: 20px;
              padding: 7px;
              border-radius: 50%;
              background-color: white;
              height: 30px;
              color: $main-blue;
              
              &:hover {
                cursor: pointer;
              }
            }
          }

          div:last-child {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            i {
              margin-right: 10px;
            }
          }
        }
    
        div:last-child {
          padding-top: 10px;
          grid-column: 1;
          grid-row: 1;
          background: transparent;
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
    
          img {
            height: 150px;
            width: 150px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid white;
            margin-top: 50px;

            &#editable-prof-pic:hover {
              cursor: pointer;
            }
          }

          h3 {
            font-size: 26px;
            font-weight: 500;
            margin-top: 10px;
          }

          h4 {
            margin: 0;
            font-weight: normal;
            font-size: 17px;
          }

          h5 {
            color: $light-grey;
            font-size: 14px;
            display: flex;
            margin: 0;
            font-weight: normal;

            p {
              margin-left: 3px;

              &:last-child {
              color: $main-blue; 
                
                &:hover {
                cursor: pointer;
                text-decoration: underline;
                }
              }
            }
          }
    
        }
      }

      &.about {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        padding-right: 0;
        
        div:first-child {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          margin-right: 10px;
          
          h3 {
            font-size: 20px;
          }
          
          i {
            margin-right: 0;
          }
          
        }
        
        div:last-child {
          display: block;
          position: relative;
          margin-right: 20px;
          
          p {
            font-size: 14px;

            &.clipped {
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;  
              overflow: hidden;
            }
          }

          span {
            position: absolute;
            background-color: white;
            color: $light-grey;
            font-size: 14px;
            bottom: 0;
            right: 0;
            padding-bottom: 0;

            a:hover {
              color: $main-blue;
              cursor: pointer;
            }
          }

        } 
      }
    }
  }

}
