// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav {
  display: flex;
  justify-content: space-between;
}

.signup-nav a {
  color: $grey;
}

.signup-nav a:hover {
  color: $dark-grey;
  background-color: $light-grey;
}